<style>
  .bienvenido {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    width:670px;
    font-size: 13px;
    margin:20px auto;
    padding:15px;
  }
  .bienvenido.ingles {
    display:none;
  }
  .regalo {
    background-color: #3B5998;
    border: 1px solid #1D4088;
    color: white;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    width:670px;
    font-size: 14px;
    margin:20px auto;
    padding:15px;
  }
  .reserva {
    display:none;
    padding:10px;
    margin:20px 10px 5px;
    background-color: #627AAD;
    border: 1px solid #1D4088;
  }
  a {
    color:#ddd;
  }
  a.cambiar-idioma {
    color: #222;
  }
  .estado-reserva {
    margin-top:10px;
    font-size:12px;
  }
  .links-reserva {
    text-align:right;
    margin-top:5px;
  }
  .descripcion {
    font-size:13px;
    margin-top:3px;
  }
  .links {
    float:right;
  }
  .precio {
    float:right;
    margin-top:3px;
  }
</style>

<%= image_tag 'banner.png', :style => 'margin:20px auto; display:block;' %>

<div class="bienvenido espanol">
  <p>Hola, esta es nuestra Lista de Novios. Acá encontrarás un lista de cosas que necesitamos y que puedes usar como una guía en el caso que nos quieras hacer un regalo. Cada regalo tiene una descripción y links para ver exactamente qué nos estas regalando. El costo del regalo es un aproximado del precio, impuestos y costos de envío. Para reservar un regalo, sólo has click en "Reservar", ingresa tu nombre y email, luego nosotros te contactaremos. Si te gusta un ítem especifico pero se aleja de tu presupuesto, ten la confianza de agruparte con otros amigos y hacer un regalo en conjunto.</p> 
  <p>Por último, si quieres regalarnos algo que no está en la lista y no sabes como hacérnoslo llegar, o necesitas información de nuestras cuentas bancarias, por favor anda a "Otro regalo" y agrega ahí tu información.</p> 
  <p>Muchas Gracias</p>
  <p>Javi &amp; Álvaro</p>
  <%= link_to 'View in English', '', {'class' => 'cambiar-idioma', 'data-idioma' => 'ingles'} %>
</div>

<div class="bienvenido ingles">
  <p>Hi, this is our Wedding Registry. Here you'll find a list of things we need and which you may use as guidance in case you want to give us a present. Each gift has a description and links so you'll know exactly what you are giving us. The price of the gift is an approximate of its costs, taxes and shipping. To reserve a gift just click "Reserve," add your name and email, then we will contact you. If you really like a gift but its out of your budget, feel free to group with other people and give it as a group gift.</p>
  <p>Finally, if you have another gift in mind and you don't know how to send it to us or if you need our bank account info, please go to "Other Gifts" and add your information there.</p>
  <p>Thanks!</p>
  <p>Javi & Álvaro</p>
  <%= link_to 'Ver en español', '', {'class' => 'cambiar-idioma', 'data-idioma' => 'espanol'} %>
</div>

<% @regalos.each do |regalo| %>
  <div class="regalo">
    <div class="links">
      Links:
      <% regalo.productos.each_with_index do |p,i| %>
        <%= link_to (i+65).chr, p.url, {:target => '_blank'} -%><%= "×#{p.cantidad}" if p.cantidad -%><%= "," if i<regalo.productos.size-1 %>
      <% end %>
    </div>
    <div><%= regalo.nombre %> </div>
    <div class="precio">USD <%= regalo.precio %> </div>
    <div class="descripcion"><%= regalo.descripcion %></div>
    <div class="estado-reserva">
      <% if regalo.reservado? %>
        Este regalo ya fue reservado
      <% else %>
        <%= link_to 'Reservar/Reserve', '', {'class' => 'reservar'} %>
      <% end %>
      <%= form_for regalo, :html => {:class => 'reserva'} do |f| %>
        Nombre/Name <%= f.text_field :nombre_amigo %>
        Email <%= f.text_field :email_amigo %>
        <br>
        Comentario/Comment <br> <%= f.text_area :comentario, :rows => 3 %>
        <div class="links-reserva">
          <%= link_to 'Cancelar/Cancel', '', {'class' => 'cancelar'} %> | 
          <%= link_to 'Confirmar/Confirm', '', {'class' => 'enviar-reserva'} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="regalo">
  <div>Other Gift / Otro Regalo</div>
  <div class="descripcion">
    <p>Use this category if you have another gift in mind and you don't know how to send it to us or if you need our bank account info. Use the comments section below to specify.</p>
      <p>Usa esta categoría si quieres regalarnos algo que no está en la lista y no sabes como hacérnoslo llegar, o si necesitas información de nuestras cuentas bancarias. Puedes usar la sección de comentarios para poner detalles específicos.</p>
  </div>
  <div class="estado-reserva">
    <%= link_to 'Reservar/Reserve', '', {'class' => 'reservar'} %>
    <%= form_for :regalo, :html => {:class => 'reserva'} do |f| %>
      Nombre/Name <%= f.text_field :nombre_amigo %>
      Email <%= f.text_field :email_amigo %>
      <br>
      Comentario/Comment <br> <%= f.text_area :comentario, :rows => 3 %>
      <div class="links-reserva">
        <%= link_to 'Cancelar/Cancel', '', {'class' => 'cancelar'} %> | 
        <%= link_to 'Confirmar/Confirm', '', {'class' => 'enviar-reserva'} %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    $('a.reservar').click(function(){
      $(this).siblings('form.reserva').show();
      return false;
    });

    $('form.reserva a.cancelar').click(function(){
      $(this).parents('form.reserva').hide();
      return false;
    });

    $('a.enviar-reserva').click(function(e){
      var $form = $(this).parents('form');
      $form.ajaxSubmit({
        success:function(){
          $form.hide();
          var $link = $form.parents('.regalo').find('a.reservar');
          $link.after('Este regalo ya fue reservado');
          $link.remove();
          alert('¡Has reservado este regalo!');
        },
        statusCode: {
          403:function(){
            $form.hide();
            var $link = $form.parents('.regalo').find('a.reservar');
            $link.after('Este regalo ya fue reservado');
            $link.remove();
            alert('El regalo ya fue reservado; busca otro.');
          },
          400:function(){
            $form.hide();
            alert('No ingresaste tu nombre o email; intenta de nuevo.');
          }
        }
      });
      return false;
    });

    $('a.cambiar-idioma').click(function(e){
      $('.bienvenido').hide();
      $('.bienvenido.'+$(this).data('idioma')).show();
      return false;
    });

  });
</script>
